@media screen and (min-device-width: 330px){
body{
    margin: 0;
    align-items: center;
    font-size: 14px;
}

header{
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

header img{
    width: 70px;
}

footer{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    height: 100%;
    width: 100%;
    background-color: rgb(41, 42, 37);
}

footer div{
    min-height: 10vh;
    text-align: center;
    color: white;
    width: 27vw;
}

.mainDiv{
    background-color: rgb(203, 217, 228);
    height: 80vh;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    min-height: 50vh;
}



.stuffDiv{
    height: 80vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}


.stuff1Div{
    height: 80vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.imgDiv{
    height: 300px;
    width: 500px;
    margin-left: 30px;
    background-image: url('Images/building.jpg');
    background-size: 58%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.pagesMob{
    display: inline;
}

.pagesMob li{
    display: inline;
    margin: 1vw;
}


a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
a:visited {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}


#man{
    display: flex;
    margin-top: 80px;
    width: 180px;
    height: 160px;
}

#people{
    display: flex;
    margin-top: 40px;
    width: 280px;
    height: 200px;
}


#textNButton{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    width: 200px;
    margin-left: 30px;
}

.button{
    display: flex;
    flex-direction: row;
    padding: 10px 47px;
    font-size: 11px;
    letter-spacing: 1px;
    background-color: rgb(203, 217, 228);
    border: 1px solid black;
}

#whiteBlock{
    font-family:Arial, Helvetica, sans-serif;
    width: 300px;
    height: 210px;
    background-color: white;
    text-align: left;
}

#whiteBlock > *{
    padding-left: 20px;
}

#whiteBlock h1{
    padding-top: 20px;
}

#menuButton{
    border: none;
    background: none;
    padding: 0;
}
}

@media screen and (max-device-width: 330px){

    body{
        margin: 0;
        align-items: center;
    }
    
    img #logo{
        margin-right: 3vw;
        width: 20vw;
        height: 8vh;
    }

    #menuButton{
        background-image: url(D:/uniStuff/webLab4/Images/menu.jpg);
        background-repeat: no-repeat;
        margin-left: 35vw;
        padding: 1.5vh 9vw;
    }

    

    .pagesMob{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .pagesMob a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }

      #menuButton:hover .pagesMob {
        display: block;
      }
    
    header{
        display: flex;
        height: 5vh;
        width: 100%;
        background-color: white;
        align-items: center;
        justify-content: center;
    }
    
    footer{
        display:flex;
        justify-content: center;
        align-items: center;
        min-height: 10vh;
        height: 100%;
        width: 100%;
        background-color: rgb(41, 42, 37);
    }
    
    footer div{
        font-size: 1vh;
        text-align: center;
        color: white;
        width: 70vw;
    }
    
    .mainDiv{
        background-color: rgb(203, 217, 228);
        height: 90vh;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .content{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width: 800px;
        min-height: 1700px;
    }
    
    .imgDiv{
        height: 500px;
        width: 600px;
        background-image: url('Images/building.jpg');
        background-size: 80%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
    }
    
    .stuffDiv{
        width: 700px;
        height: 690px;
    }

    .stuff1Div{
        width: 800px;
        height: 600px;
        margin-bottom: 100px;
    }
   
    a{
        font-size: 2vh;
    }
    
    a:link {
        color: black;
        background-color: transparent;
        text-decoration: none;
      }
    a:visited {
        color: orange;
        background-color: transparent;
        text-decoration: none;
    }
    
    #man{
        margin-left: 100px;
        width: 550px;
        height: 500px;
    }
    
    #people{
        margin-top: 50px;
        margin-bottom: 50px;
        width: 480px;
        height: 400px;
    }
    
    
    #textNButton{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;;
        width: 550px;
        margin-bottom: 100px;
    }
    
    button{
        display: flex;
        flex-direction: row;
        padding: 10px 47px;
        font-size: 25px;
        letter-spacing: 1px;
        background-color: rgb(203, 217, 228);
        border: 1px solid black;
    }
    
    #whiteBlock{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 25px;
        width: 400px;
        height: 400px;
        background-color: white;

        margin-right: 100px;
        text-align: left;
    }
    
    #whiteBlock > *{
        padding-left: 3vw;
    }
    
    #whiteBlock h1{
        padding-top: 1vh;
    }
}